/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */ 
@font-face {
	font-family: 'Museo300';
	src: url('../eot/300.eot');
	src: local('Museo'), local('Museo-300'), url('../woff/300.woff') format('woff'), url('../otf/300.otf') format('opentype'), url('../svg/300.svg#Museo-300') format('svg');
}
.museo-300 h1,
.museo-300 h2,
.museo-300 h3 {
  font-family: "Museo300", Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
}